<div class="container-answer">
  <div id="answer1">
    <p> <%=params[:ask].capitalize%> </p>
    <p>-you</p>
  </div>
  <div id="answer2">
    <p><%=@answer%></p>
    <p>-your coach</p>
  </div>
  <%=link_to 'Ask a new question', ask_path %>
</div>
