<div class="formulaire">
  <form action="/answer" method="GET">
    <label for="Ask your coach anything:"></label>
    <div class="form">
      <input id="input" type="text" name="ask">
      <input id="button" type="submit" value="Ask">
    </div>
  </form>
</div>
